<div class="slider">
    <div class="slide">
        <div class="slide-bg">
            <img class="slide-bg-image" src="https://image.tmdb.org/t/p/original/zBkHCpLmHjW2uVURs5uZkaVmgKR.jpg"
                alt="">
        </div>
        <div class="slide-pane">
            <h2 class="name">The Addams Family 2</h2>
            <div class="meta">
                <div class="info">
                    <span class="rating">star<span class="rating-value">7.5</span> <span>/10</span></span>
                    <span>463 Reviews</span>
                    <span>2021</span>
                </div>
            </div>
            <div class="desc mt-6">
                The tale of an extraordinary family, the Madrigals, who live hidden in the mountains of Colombia, in a
                magical house, in a vibrant town.
            </div>
        </div>
    </div>
</div>